@font-face {
  font-family: 'Bank Gothic'; /* Name your font family */
  src: url('./fonts/BankGothicMediumBT.ttf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'Beckett'; /* Name your font family */
  src: url('./fonts/Beckett.ttf'); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: 'Futura LT Bold';
  src: url('./fonts/FuturaLT-Bold.woff') format('woff');
  }
  

.font-bankGothic{
  font-family: "Bank Gothic"
}
.font-beckett{
  font-family: "Beckett"
}
.font-futura{
  font-family: "Futura LT Bold"
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}