@font-face {
  font-family: 'Bank Gothic'; 
  src: url('./fonts/BankGothicMediumBT.ttf'); 
  font-display: block;
}

@font-face {
  font-family: 'Beckett'; 
  src: url('./fonts/Beckett.ttf'); 
  font-display: block;
}

@font-face {
  font-family: 'Futura LT Bold';
  src: url('./fonts/FuturaLT-Bold.woff') format('woff');
  font-display: block;
  }
  

.font-bankGothic{
  font-family: "Bank Gothic"
}
.font-beckett{
  font-family: "Beckett"
}
.font-futura{
  font-family: "Futura LT Bold"
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}